/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.container {
  width: 72%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.cart-general {
  padding-top: 96px;
  padding-bottom: 129px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .cart-general {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.header {
  background-color: #222222;
  margin: 0;
}

.header__navigation {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__logo:hover, .header__logo:focus {
  opacity: 0.5;
  outline: none;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0 33px 0 0;
}

.header__person {
  margin: 0 33px 0 0;
}

.header__person:hover, .header__person:focus {
  opacity: 0.5;
  outline: none;
}

.header__cart:hover, .header__cart:focus {
  opacity: 0.5;
  outline: none;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
  .header__person, .header__cart {
    display: none;
  }
}

.brand {
  max-width: 1600px;
  display: flex;
  margin: 0 0 63px;
}

@media (max-width: 767px) {
  .brand {
    min-height: 363px;
  }
}

.brand__title-container {
  background: #F1E4E6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
  width: 50%;
}

@media (max-width: 1024px) {
  .brand__title-container {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 767px) {
  .brand__title-container {
    padding: 0 0 0 83px;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
  }
}

.brand__sub-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  display: block;
}

@media (max-width: 1024px) {
  .brand__sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .brand__sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.brand__pink-sub-title {
  color: #F16D7F;
}

.brand__img {
  height: auto;
  width: 50%;
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.promotions {
  margin-bottom: 97px;
}

.promotions__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotions__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px;
}

@media (max-width: 1024px) {
  .promotions__item {
    min-height: 168px;
    margin: 0 0 19px;
  }
}

@media (max-width: 767px) {
  .promotions__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}

.promotions__item--women {
  background-image: url(../img/women-prom.jpg);
  background-size: cover;
}

.promotions__item--man {
  background-image: url(../img/man-prom.jpg);
  background-size: cover;
}

.promotions__item--kids {
  background-image: url(../img/kids-prom.png);
  background-size: cover;
}

.promotions__item--accesories {
  background-image: url(../img/acs-prom.png);
  background-size: cover;
  width: 100%;
}

@media (max-width: 1024px) {
  .promotions__item--accesories {
    min-height: 116px;
  }
}

.promotion__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FBFBFB;
}

.promotion__text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #F16D7F;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  color: #9F9F9F;
}

.products__caption {
  margin-bottom: 48px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .products__list {
    flex-direction: column;
    align-items: center;
  }
}

.products__item {
  width: 360px;
  position: relative;
}

@media (max-width: 430px) {
  .products__item {
    width: 100%;
  }
}

.products__button {
  height: 47px;
  width: 211px;
  left: 695.5px;
  top: 2817.5px;
  border-radius: 1px;
  border-color: #FF6A6A;
  background-color: white;
  color: #F26376;
}

.products__button-box {
  width: 100%;
  display: flex;
  margin-top: 63px;
  justify-content: center;
}

.product__img {
  display: block;
}

@media (max-width: 430px) {
  .product__img {
    width: 100%;
  }
}

.product__hover {
  transform: translate(-50%, -50%);
  background: #3a3838;
  width: 360px;
  height: 73%;
  position: absolute;
  top: 36%;
  left: 50%;
  opacity: 0;
  cursor: pointer;
}

.product__hover:hover, .product__hover:focus {
  opacity: 0.87;
}

.product__description {
  background: var(--gray-color);
  padding: 25px 29px 20px 17px;
}

.product__title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: black;
}

.product__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  margin-bottom: 18px;
  color: #5D5D5D;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
}

.product__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 44px;
  width: 139px;
  border-radius: 0px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.advantages {
  background-color: #222222;
  margin: 95px 0 0;
  min-height: 341px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  width: 360px;
  min-height: 341px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__img {
  margin-top: 103px;
}

.advantages__title {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages__text {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe {
  background-image: url(../img/footer-back.png);
  min-height: 448px;
}

@media (max-width: 1024px) {
  .subscribe {
    background-image: url(../img/footer-fon-tab.png);
  }
}

.subscribe__quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  min-height: 448px;
}

.subscribe__quote-text {
  margin-top: 30px;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.subscribe__form {
  width: 356px;
  display: flex;
  flex-direction: column;
}

.subscribe__sub-title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
  display: block;
}

.subscribe__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.subscribe .email-subscribe {
  height: 49px;
  width: 256px;
  left: 917px;
  top: 243px;
  border: none;
  border-radius: 30px;
  background: #E1E1E1;
}

.subscribe .button-subs {
  height: 49px;
  width: 100px;
  left: 1173px;
  top: 243px;
  border: none;
  border-radius: 30px;
  background: #F16D7F;
}

.subscribe .button-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #FFFFFF;
}

.social-network {
  background: #222224;
}

.social-network-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}

@media (max-width: 1024px) {
  .social-network-container {
    flex-direction: column;
    align-items: center;
  }
}

.social-network__list {
  display: flex;
}

.social-network__item {
  margin-left: 7px;
}

.copyright {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FBFBFB;
}

.registration__header {
  background-color: #222222;
  margin: 0;
}

.registration__brand {
  min-height: 148px;
  display: flex;
  margin: 0;
}

.registration__advantages {
  background-color: #222222;
  margin: 0;
  min-height: 341px;
}

.registration__main {
  display: flex;
  padding-top: 64px;
  padding-bottom: 96px;
}

@media (max-width: 767px) {
  .registration__main {
    flex-direction: column;
  }
}

.registration-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .registration-title {
    text-align: center;
  }
}

.registration-form__form-legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  margin-bottom: 20,5px;
}

.registration-form__form-text {
  display: block;
  height: 44px;
  width: 360px;
  left: 230px;
  top: 391.5px;
  border-radius: 0px;
  border: 1px solid #A4A4A4;
  margin-top: 21px;
}

.registration-form__radio-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.registration-form__password-info {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
  width: 360px;
  margin-top: 15px;
  margin-bottom: 39px;
}

.registration-form__registration-button {
  height: 50px;
  width: 167px;
  left: 230px;
  top: 752px;
  border-radius: 0px;
  background: #F16D7F;
}

.registration-form__registration-button-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}

.registration-perks {
  margin-left: 128px;
}

@media (max-width: 767px) {
  .registration-perks {
    margin: 40px 0;
  }
}

.perks__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.perks__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.perks__list {
  margin-top: 21px;
  list-style: none;
}

.perks__item {
  margin-bottom: 16px;
  position: relative;
}

.perks__item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(../img/mark.svg);
  background-size: 20px 16px;
  left: -25px;
  top: 7px;
}

.cart-main {
  width: 54%;
}

@media (max-width: 1024px) {
  .cart-main {
    width: 100%;
  }
}

.cart-main__shop-item {
  height: 306px;
  box-shadow: 15px 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .cart-main__shop-item {
    height: 188px;
  }
}

.cart-main__shop-container {
  margin: 22px 97px 62px 31px;
}

@media (max-width: 767px) {
  .cart-main__shop-container {
    margin: 13px 50px 38px 17px;
  }
}

.cart-main__shop-img {
  height: auto;
  width: 41%;
}

.cart-main__shop-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  margin-bottom: 42px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .cart-main__shop-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

.cart-main__specifications-item {
  margin-bottom: 6px;
}

.cart-main__specifications-text {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #575757;
}

@media (max-width: 767px) {
  .cart-main__specifications-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart-main__specifications-text-pink {
  color: #F16D7F;
}

.cart-main__button-box {
  display: flex;
  justify-content: space-between;
}

.cart-main__button {
  height: 49px;
  width: 234px;
  border-radius: 0px;
  background-color: white;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
}

@media (max-width: 1024px) {
  .cart-main__button {
    margin-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .cart-main__button {
    height: 32px;
    width: 174px;
  }
}

.cart-form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

@media (max-width: 1024px) {
  .cart-form {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .cart-form {
    flex-direction: column;
    align-items: center;
  }
}

.cart-form__form-section {
  display: flex;
  flex-direction: column;
}

.cart-form__form-legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.cart-form__form-text {
  display: block;
  height: 44px;
  width: 360px;
  left: 230px;
  top: 391.5px;
  border-radius: 0px;
  border: 1px solid #A4A4A4;
  margin-top: 21px;
}

.cart-form__button {
  height: 34px;
  width: 100.4px;
  border-radius: 0px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: #4a4a4a;
  border: 1px solid #A4A4A4;
  background-color: white;
  margin-top: 24px;
}

.cart-form__buy-section {
  margin-top: 39.5px;
  background-color: #f5f3f3;
  height: 133px;
  width: 273px;
  padding: 39px 43px 42px 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-form__buy-section-text {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.cart-form__buy-section-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.cart-form__buy-section-title-pink {
  color: #F16D7F;
  font-weight: 700;
}

.cart-form__line {
  color: #E2E2E2;
  height: 1px;
  width: 275px;
  border-radius: 0px;
  margin-bottom: 17px;
}

.cart-form__button-buy {
  height: 50px;
  width: 273px;
  border-radius: 0px;
  background-color: #f16d7f;
  color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
  align-self: center;
}
/*# sourceMappingURL=style.css.map */