.header {
    background-color: $black-color;
    margin: 0;

    
    &__navigation {
        display: none;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
    
    }
    
    &__logo {
        margin: 0 41px 0 0;

        &:hover,
        &:focus{
            opacity: 0.5;
            outline: none;
        }
    }
    
    &__button {
        background: transparent;
        border: none;
        margin: 0 33px 0 0;
    }
    
    &__person {
        margin: 0 33px 0 0;
        
        &:hover,
        &:focus{
            opacity: 0.5;
            outline: none;
        }
    }
    &__cart:hover,
    &__cart:focus{
        opacity: 0.5;
        outline: none;
    }
    
}

@media (max-width: $desktop-w){
    .header{
        padding: 0 16px;
    }

}

@media (max-width: $tablet-w){
    .header{
        padding: 0 16px;
    
    &__person,
    &__cart{
        display: none;
    }
}

   
}

