.promotions {
    margin-bottom: 97px;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__item {
        width: 31%;
        min-height:260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 30px;

        @include tablet{
            min-height: 168px;
            margin: 0 0 19px;
        }

        @include mobile{
            width: 100%;
            min-height: 247px;
            margin: 0 0 32px;
        }
       
        
    }
    
    &__item--women {
        background-image: url(../img/women-prom.jpg);
        background-size: cover;
    }
    
    &__item--man {
        background-image: url(../img/man-prom.jpg);
        background-size: cover;
    }
    
    &__item--kids {
        background-image: url(../img/kids-prom.png);
        background-size: cover;
    }
    
    &__item--accesories {
        background-image: url(../img/acs-prom.png);
        background-size: cover;
        width: 100%;
        @include tablet{
            min-height: 116px;
        }
    }
}



.promotion__title {
    text-transform: uppercase;
    @include font(16px,19px,400);
    color: #FBFBFB;
}

.promotion__text {
    text-transform: uppercase;
    @include font(24px,29px,700);   
    color: $dark-pink-color;
}