
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe {
    background-image: url(../img/footer-back.png);
    min-height: 448px;

&__quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    min-height: 448px;
   

}

&__quote-text {
    margin-top: 30px;
    font-style: italic;
    @include font (20px,24px,400);
    text-align: center;
}

&__form {
    width: 356px;
    display: flex;
    flex-direction: column;
}

&__sub-title {
    @include font (24px,38px,700);
    text-align: center;
    display:block;
}

&__title {
    @include font (18px,30px,400);
    text-align: center;

}

.email-subscribe {
    height: 49px;
    width: 256px;
    left: 917px;
    top: 243px;
    border: none;
    border-radius: 30px;
    background: #E1E1E1;  
}

.button-subs {
    height: 49px;
    width: 100px;
    left: 1173px;
    top: 243px;
    border: none;
    border-radius: 30px;
    background: #F16D7F;
}

.button-text {
    @include font (14px,17px,400);
    color:  #FFFFFF;
}

}